@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0.2)), url("/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
}

::-webkit-scrollbar-track{
    cursor: pointer;
    background: 5px;
    
}